<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>


    <div class="container">
        <div class="row m-3">
            {{!-- <div class="col-sm-4">
            </div>
            <div class="col-sm-4 text-center" id="titlene">
                <h2>
                    KynaShop
                </h2>
            </div>

            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-6">

                    </div>

                </div>
            </div> --}}

        </div>

        <div class="row m-5" id="background">
            <div class="row m-3">
                <div><span></span></div>

            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6"><img src="../images/kynalab.jpg" /></div>
                    <div class="col-sm-6" id="bg">
                        <h2 style="text-align: center;">Login</h2>
                        <form action="/trangchu" method="get">
                            <div class="mb-3 mt-3">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email"
                                    name="email">
                            </div>
                            <div class="mb-3">
                                <label for="pwd">Password:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password"
                                    name="pswd">
                            </div>
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" checked name="remember"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-primary" type="submit">Login</button>
                        </form>

                    </div>

                </div>

            </div>
            <!-- <div class="col-sm-4">
                
            </div>
            <div class="col-sm-4">
                
            </div> -->


            <div class="col-sm-2"></div>
            <div class="row m-3">
                <div><span></span></div>

            </div>
        </div>



</body>

</html>