<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="body">
    <div class="container">

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <form action="/dientich" method="POST">
                    <div class="mb-3 mt-3">
                        <label>Canh day:</label>
                        <input type="number" class="form-control" id="email" placeholder="Nhap Canh Day" name="canhday">
                    </div>
                    <div class="mb-3">
                        <label>Chieu Cao:</label>
                        <input type="number" class="form-control" id="pwd" placeholder="Nhap Chieu Cao" name="chieucao">
                    </div>

                    <button type="submit" class="btn btn-primary">Tinh Dien Tich</button>
                </form>
            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>

</body>

</html>